.wrapper {
    display: flex;
    justify-content: end;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
}

.cartCount {
    padding-right: 5px;
    border-radius: 50px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-top: 22px;
}

.cartSideBar {
    z-index: 1000;
    width: 740.5px;
    background: #ffffff;
    top: 0;
    right: 0;
    padding: 25px;
    position: fixed;
    overflow: auto;
    height: 100%;
    fill: #FFF;
    filter: drop-shadow(-4px 0px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all ease-in-out 0.3s;

    &.expand {
        transition: all ease-in-out 0.3s;
        right: 0;
    }

    &.shrink {
        transition: all ease-in-out 0.3s;
        right: -800.5px;
    }
}